// Default font-size
$defaultFontSize: 16;

// Media queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$-color-main-text: #562c2c;
$-color-bright-text: #f2542d;

$font-family-Work-sans: 'Work Sans', sans-serif;